.adopt-a-beehive-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .adopt-a-beehive-page .div {
    background-color: #ffffff;
    width: 1440px;
    height: 3200px;
    position: relative;
  }
  
  .adopt-a-beehive-page .overlap-group {
    position: absolute;
    width: 1440px;
    height: 550px;
    top: 86px;
    left: 0;
    background-image: url(./img/adopt.png);
    background-size: 100% 100%;
  }
  
  .adopt-a-beehive-page .text-wrapper {
    position: absolute;
    width: 620px;
    height: 72px;
    top: 170px;
    left: 410px;
    font-family: "Newsreader-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .adopt-a-beehive-page .rectangle {
    position: absolute;
    width: 1440px;
    height: 222px;
    top: 2978px;
    left: 0;
    background-color: #d9d9d9;
  }

  .adopt-a-beehive-page .header {
    display: inline-flex;
    align-items: center;
    gap: 153px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
  }
  
  .adopt-a-beehive-page .FEC-logo {
    position: relative;
    width: 139px;
    height: 55px;
  }
  
  .adopt-a-beehive-page .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adopt-a-beehive-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Newsreader-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .adopt-a-beehive-page .login-button {
    display: flex;
    width: 140px;
    height: 55px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #e5bcff;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .adopt-a-beehive-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Newsreader-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  