#dash .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.container .moda {
  z-index: 1;
  width: 550px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}

.modal-content {
  height: 100%;
  width: 400px;
}
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  #city, #province, #autocomplete, #postalCode, #name {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  #anonymous {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .close-btn, .submit-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: bold;
      padding: 8px;
      position: relative;
      font-family: "Newsreader-SemiBold";
      background-color: #e5bcff;
      border: none;
      text-decoration: none;
  }
  
  .close-btn:hover, .submit-btn:hover {
      cursor: pointer;
      background-color: #e5e5;
    }

    .location-container {
      display: flex;
      flex-direction: column; /* Display children in a column */
    }
    
    .input-container {
      position: relative;
      width: 100%; /* Ensure the input takes up full width */
    }

    .info-container {
      position: relative;
      display: inline-block;
      padding: 2px;
    }
    .info-icon {
      color: #ccc;
      font-size: 15px;
      padding-left: 3px;
      padding-right: 10px;
      transform: translateY(-5px);
      cursor: pointer;
    }
    .info-popup {
      display: none;
      position: absolute;
      top: calc(100% + 5px);
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      width: 200px;
      z-index: 1;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .info-container:hover .info-popup {
      display: block;
    }

    .anonymous-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .error-message {
      color: red;
      margin-top: 5px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .error-container {
      margin-bottom: 10px; /* Adjust margin as needed */
    }