/* Basic styling for the container, header, main, and footer */
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-image {
  width: 50px; /* Adjust image size as needed */
}

/* Styling for input field */
input[type='number'] {
  width: 50px;
}

/* Styling for checkout button */
.checkout-buttons {
  text-align: center;
}

.checkout-btn {
  background-color: #e5bcff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Styling for payment methods buttons */
.payment-methods {
  display: flex;
  justify-content: space-between;
}

.payment-methods button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.payment-methods button img {
  width: 80px;
}

.footfoot {
  height: 100%;
  display: flex;
}