.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.modal-content {
  background-color: white; /* Non-transparent background */
  padding: 20px;
  border-radius: 8px;
  width: 600px; /* Adjust as needed */
}

.modal-title {
  margin-bottom: 20px;
}

.form-fields {
  display: grid;
  gap: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly; /* Evenly distribute buttons */
  margin-top: 20px;
}

/* Update the styles in your edithivestyle.css or global styles */

/* Ensure labels and input fields are aligned */
.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between label-input pairs */
}

/* Make input fields take up full width */
.input-field {
  flex: 1; /* Take up remaining space */
  margin-left: 10px; /* Adjust spacing between label and input field */
}

