.header {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex: 0 0 auto;
  top: 0px;
  height: 100px;
  background-color: rgb(255, 192, 246);
  z-index: 1;
  width: 100%;
}

.FEC-logo {
  position: relative;
  width: 139px;
  height: 55px;
  margin-left: 15px;
}

.login-button {
  display: flex;
  width: 223px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  font-family: "Newsreader-SemiBold";
  background-color: #e5bcff;
  border: none;
  font-size: 25px;
  text-decoration: none;
}

.login-button:hover {
  cursor: pointer;
  background-color: #e5e5;
}

.header a {
  border: none;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: -1px;
  font-family: "Newsreader-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header a:visited,
link:visited {
  color: black;
}

.header button {
  background-color: rgb(255, 192, 246);
  border: none;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: 25px;
  right: 320px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.cart-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
