.home-page-desktop .div {
  background-color: #ffffff;
  width: 100%;
  height: 3200px;
  position: relative;
}

.home-page-desktop .overlap-group {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 86px;
  left: 0;
  background-image: url(./img/homepage.png);
  background-size: 100% 100%;
}

.home-page-desktop .text-wrapper {
  position: absolute;
  width: 578px;
  height: 72px;
  top: 202px;
  left: 130px;
  font-family: "Newsreader-SemiBold", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 72px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .text-wrapper-2 {
  position: absolute;
  width: 578px;
  top: 274px;
  left: 130px;
  font-family: "Newsreader-Regular", serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page-desktop .rectangle {
  position: absolute;
  width: 1440px;
  height: 222px;
  top: 2978px;
  left: 0;
  background-color: #d9d9d9;
}

.home-page-desktop .img {
  position: absolute;
  width: 550px;
  height: 450px;
  top: 801px;
  left: 130px;
}

.home-page-desktop .rectangle-2 {
  position: absolute;
  width: 550px;
  height: 450px;
  top: 1521px;
  left: 760px;
}

.home-page-desktop .rectangle-3 {
  position: absolute;
  width: 550px;
  height: 450px;
  top: 2241px;
  left: 130px;
  object-fit: cover;
}

.home-page-desktop .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 832px;
  left: 730px;
}

.home-page-desktop .one-hive {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.home-page-desktop .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home-page-desktop .heading {
  position: relative;
  width: 580px;
  height: 110px;
  margin-top: -1px;
  font-family: "Newsreader-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page-desktop .body {
  position: relative;
  width: 580px;
  height: 175px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-dark-grey);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
}

.home-page-desktop .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.home-page-desktop .div-wrapper {
  display: flex;
  width: 250px;
  height: 72px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e5bcff;
}

.home-page-desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Newsreader-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .div-wrapper a {
  display: flex;
  width: 250px;
  height: 72px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e5bcff;
  border: none;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  }

  .home-page-desktop .div-wrapper a:hover {
    cursor: pointer;
    background-color: #e5e5;
  }

.home-page-desktop .our-community {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  position: absolute;
  top: 1552px;
  left: 130px;
}

.home-page-desktop .p {
  position: relative;
  width: 580px;
  height: 175px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #3b3b3b;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
}

.home-page-desktop .frame-3 {
  position: relative;
  width: 100px;
  height: 10px;
}

.home-page-desktop .real-time-stats {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 2272px;
  left: 730px;
}

.home-page-desktop .header {
  display: inline-flex;
  align-items: center;
  gap: 153px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: transparent;
}

.home-page-desktop .FEC-logo {
  position: relative;
  width: 139px;
  height: 55px;
}

.home-page-desktop .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.home-page-desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Newsreader-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}