  
    .modal-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
    
      .close-btn, .addToCart-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-family: "Newsreader-SemiBold";
          background-color: #e5bcff;
          border: none;
          text-decoration: none;
      }
      
      .close-btn:hover, .addToCart-btn:hover {
          cursor: pointer;
          background-color: #e5e5;
        }